@charset "UTF-8";

/*      base font size | strip default margin */
body { font-size: 16px; margin: 0; width: 100%; }

/* base colors */
body { color: #000; }
h1, h2 { color: #696969; } /* DimGray */
footer, footer a { color: #A9A9A9; }
header a { color: #cccccc; }

/* base header and background img */
header {
  padding: 2em 1em;
  background-image: url(/19366.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
}

/* header background image attribution tag */
header a {
  font-size: 0.5rem;
  position: absolute;
  top: 1px;
  right: 1px;
}

/* base footer */
footer { font-size: 0.55rem; padding-bottom: 1em; }

/* standard fonts */
h1 { font-family: cursive; } /* Microsoft Standard Script/Cursive */ /* Freestyle Script, Mistral, Monotype Corsiva */
h2, h3 { font-family: Georgia, 'Times New Roman', Times, serif; }
h4, p { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
/* ##### mobile specific style ##### */

/* headlines */
h1 { font-size: 2.25rem; }
h2 { font-size: 1.85rem; }
h3 { font-size: 1.6rem; margin-bottom: 0.25em }
h4 { margin-bottom: 0.25em; }

/* article */
article { width: 100%; }

.section {
  margin: 0 auto;
  padding: 0 1.5em;
  margin-bottom: 5em;
}

#about p {
  max-width: 443px; /* prevent lines spreading thin */
}

.project {
  margin-bottom: 3em;
}

.links {
  margin: 0 auto;
}

.link {
  width: 100%;
}

.logo {
  height: 3.5rem;
  width: auto;
}

/* contact me photo */
#me {
  width: 50%;
  border-radius: 25px;
  max-width: 200px;
}

#contact, footer {
  text-align: center;
}
.contacts {
  margin: 0 auto;
  max-width: 342px; /* prevent over-spreading */
  display: flex;
  justify-content: space-between;
}

.youtube {
  max-width: 300px;
  margin: 0 auto;
}

/* tablets and smaller laptops */
/* and (max-width: 1200px) */
@media (min-width: 481px)  {

  /* ensure one large column after 805px */
  article {
    max-width: 805px;
    margin: 0 auto;
  }

  /* increased font sizes */
  header a { font-size: 0.7rem; }
  h1 { font-size: 3.5rem; }
  h2 { font-size: 2.75rem; }
  h3 { font-size: 2.25rem; margin-bottom: 0.25em }
  h4 { font-size: 1.15rem; }
  p { font-size: 1.1rem; }
  footer { font-size: 0.65rem; }

  /* split projects into two sections */
  .project {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "info links";
    align-content: space-between;
  }

  /* push left side content from center */
  .info {
    grid-area: info;
    padding-right: 2em;
  }

  /* align right side content */
  .links {
    grid-area: links;
    padding-top: 1.25em; /* bring inline with top of left side*/
    text-align: right;
  }
}

@media (min-width: 1201px) {

  article {
    max-width: 90%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "about projects";
  }

  #about {
    grid-area: about;
  }

  #about h2 { text-align: center; }

  #projects {
    grid-area: projects;
    padding-left: 5em;
  }

  #contact {
    grid-area: about;
    margin-top: 400px;
    width: 100%;
  }
}