@charset "UTF-8";

/*      base font size | strip default margin */
body { font-size: 16px; margin: 0; }

/* base colors */
body { color: #000; }
h1, h2 { color: #696969; } /* DimGray */

/* base header */
header {
  background-color: cadetblue;
  padding: 1em 0;
}

/* base footer */
footer { font-size: 0.55rem; padding-bottom: 1em; }
footer, footer a { color: #A9A9A9; }

/* standard fonts */
h1 { font-family: cursive; } /* Microsoft Standard Script/Cursive */ /* Freestyle Script, Mistral, Monotype Corsiva */
h2, h3 { font-family: Georgia, 'Times New Roman', Times, serif; }

/* push all text from left */
header {
  padding-left: 1rem;
}


/* ##### mobile specific style ##### */

/* headlines */
h1 { font-size: 2.25rem; }
h2 { font-size: 1.85rem; }
h3 { font-size: 1.6rem; margin-bottom: 0.25em }
h4 { margin-bottom: 0.25em; }

/* article */
article { width: 100%; }

.section {
  margin: 0 auto;
  padding: 0 1.5em;
  margin-bottom: 5em;
}

.project {
  margin-bottom: 3em;
}

img.link {
  width: 100%;
}

.logo {
  height: 3.5rem;
  width: auto;
}

#me {
  width: 40%;
  border-radius: 25px;
}

#contact, footer {
  text-align: center;
}
.contacts {
  display: flex;
  justify-content: space-around;
}